
 .usersetting-main{
     padding: 1REM 2REM;
     width: 100%;
 }


 form{
     width: 70%;
 }

.row-1{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}
.inputtype-1{
    padding: 1rem;

}
input{
    
}
